# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

## ordered list
 - R
 - Python
 - SQL

# Some of the commonly used libraries used by Data Scientists include:

## ordered list
 - numpy
 - Matplotlib
 - Pandas

# table of Data Science tools

##  Data Science tools
-R     -Jupyter Notebook    -Github

### Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers

In [18]:
A = 2
B = 3
C = 1
D = (A*B)+C
print(D)

7

# This will convert 200 minutes to hours by diving by 60

In [20]:
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours


minutes = 150
hours = minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours.")

150 minutes is equal to 2.5 hours.

# List popular languages for Data Science

## **Objective**

  1.R    2.PYTHON   3.SQL   4.RATTLE  5.JAVA

# Author Name

Touseef alam awan